.vertical-align {
  display: flex;
  align-items: center;
  flex-direction: row;
}
#top .wrap-top .delivery-block {
  display: inline-block;
  display: inline-block;
  min-width: 200px;
  margin: 0 20px;
}
#top .wrap-top .delivery-block .info {
  color: #48b131;
  font-size: 15px;
}
#top .wrap-top .delivery-block .phone {
  font-size: 18px;
}
#top .wrap-top .search-block {
  display: inline-block;
  max-width: 300px;
}
#top .wrap-top .cart-block {
  display: inline-block;
}
#top .wrap-top .language-block {
  display: inline-block;
}
#top .wrap-top #search .input-lg {
  border: 1px solid #48b131;
  border-left: none;
  outline: none !important;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  transition: none;
}
#top .wrap-top #search .input-lg:focus {
  outline: none !important;
}
#top .wrap-top #search .search-btn {
  margin-left: 10px;
  font-size: 18px;
  border-radius: 4px;
  background: none;
  background-color: #48b131;
  color: #fff;
  padding: 10px 20px;
}
#top .wrap-top #search .icon-search-block {
  border: 1px solid #48b131;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: none;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
#top .wrap-top #search .icon-search-block .fa-search {
  color: #48b131;
}
#top .wrap-top #search .form-control:focus {
  border: 1px solid #48b131;
  border-left: none;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#top .wrap-top .cart-block {
  margin-bottom: 10px;
  margin-left: 20px;
}
#top .wrap-top .cart-block .btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#top .wrap-top .cart-block #cart-total {
  background-color: #fff8d8;
  padding: 7px 15px;
}
#top .wrap-top .language-block {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#top .wrap-top .language-block #form-language .language-select {
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  margin: 0;
  text-align: center;
  padding: 10px;
  border: 1px solid #48b131;
  padding: 4px 10px;
  border-radius: 4px;
}
#top .wrap-top .language-block #form-language .language-select:hover {
  text-shadow: none;
  color: #fff;
  background-color: #48b131;
}
#top .wrap-top .language-block #form-language .language-select.active {
  text-shadow: none;
  color: #fff;
  background-color: #48b131;
}
#top .wrap-top .language-block #form-language .language-select.use-line:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #45ba3b;
}
#top .wrap-top .user-cabinet .user-cabinet-link {
  color: #45ba3b;
  font-size: 12px;
}
#menu .navbar-collapse {
  padding: 0;
}
#menu .nav li {
  padding-right: 1vw;
}
#menu .nav li .yellow-btn {
  background-color: #f7c312;
  color: #fff;
  border-radius: 4px;
}
#menu .nav li .green-btn {
  background-color: #48b131;
  color: #fff;
  border-radius: 4px;
}
#common-home .image-text img {
  width: 100% !important;
}
#common-home .html-module img {
  width: 100% !important;
}
#common-home .swiper-viewport {
  box-shadow: none;
  border: none;
  border-radius: 0;
}
/*product-card*/
.product-card .product-card-info {
  border-top: 1px solid #dcdcdc;
  position: relative;
}
.product-card .product-card-info .product-card-title a {
  color: #48b131;
  font-size: 13px;
  line-height: 18px;
  max-height: 54px;
  overflow: hidden;
}
.product-card .product-card-info .product-card-price {
  display: block;
  float: left;
  position: absolute;
  bottom: 15px;
}
.product-card .product-card-info .product-card-price .price,
.product-card .product-card-info .product-card-price .price-new {
  font-size: 20px;
  font-weight: bold;
  padding: 0 13px;
  background: #fff8d8;
  border-radius: 4px;
  line-height: 30px;
}
.product-card .product-card-info .product-card-price .price {
  color: #48b131;
}
.product-card .product-card-info .product-card-price .price-new {
  color: #f0251f;
}
.product-card .product-card-info .product-card-price .price-old {
  font-size: 14px;
  color: #000;
  padding: 0 5px;
  margin: 0;
  display: inline-block;
  position: relative;
  text-decoration: none;
  margin-bottom: 2px;
}
.product-card .product-card-info .product-card-price .price-old:after {
  content: "";
  border-bottom: 1px solid #f0251f;
  height: 1px;
  position: absolute;
  left: 0;
  top: 9px;
  width: 100%;
}
.product-card .product-card-info .product-card-right {
  float: right;
  width: 110px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.product-card .product-card-info .product-card-right .product-card-cart {
  background: #48b131;
  color: #fff;
  font-size: 17px;
  font-family: Roboto Regular;
  text-transform: uppercase;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  outline: none !important;
  line-height: 30px;
  padding: 0 13px;
}
.product-card .product-card-info .product-card-right .product-card-reviews {
  float: left;
  color: #016ab2;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 0;
}
.product-card .product-card-articles {
  text-align: left;
  display: block;
  padding-left: 15px;
  color: #000;
  font-size: 11px;
  padding-bottom: 2px;
}
.product-card .product-card-discount {
  position: absolute;
  top: 15%;
  background: #f0251f;
  border: 2px solid #fff;
  color: #fff;
  line-height: 26px;
  padding: 0 8px;
  font-size: 20px;
  font-weight: bold;
}
